<html>
<head>
<style type="text/css">

#body{
color: black;
font-size:20px;
padding:0px;
}
#header {
    background-color: black;
    text-align: center;
    color: white;
    font-size:40px;
    padding:10px;
}
#main_div{
    color: black;
    font-size:20px;
    padding:25px;
    margin: 45px;
}

</style>
</head>
<body>
<title>
Analysis Page 2
</title>
</body>
<div id ="header">
    Analysis Page 2
</div>
<div id="main_div">
    These are the HS Codes with at least 20 transaction records.
    <pre>
    441600
    440710
    44182
    44189
    441890
    44071
    44079
    44219
    44092
    442190
    440399
    440791
    440920
    441820
    440799
    441700
    440420
    </pre>
    <hr>

    {% include 'data/hs_code_trade_val/hs_code_trade_value_441600.html' %}
    {% include 'data/hs_code_trade_val/hs_code_trade_value_440710.html' %}
    {% include 'data/hs_code_trade_val/hs_code_trade_value_44182.html' %}
    {% include 'data/hs_code_trade_val/hs_code_trade_value_44189.html' %}
    {% include 'data/hs_code_trade_val/hs_code_trade_value_441890.html' %}
    {% include 'data/hs_code_trade_val/hs_code_trade_value_44071.html' %}
    {% include 'data/hs_code_trade_val/hs_code_trade_value_44079.html' %}
    {% include 'data/hs_code_trade_val/hs_code_trade_value_44219.html' %}
    {% include 'data/hs_code_trade_val/hs_code_trade_value_44092.html' %}
    {% include 'data/hs_code_trade_val/hs_code_trade_value_442190.html' %}
    {% include 'data/hs_code_trade_val/hs_code_trade_value_440399.html' %}
    {% include 'data/hs_code_trade_val/hs_code_trade_value_440791.html' %}
    {% include 'data/hs_code_trade_val/hs_code_trade_value_440920.html' %}
    {% include 'data/hs_code_trade_val/hs_code_trade_value_441820.html' %}
    {% include 'data/hs_code_trade_val/hs_code_trade_value_440799.html' %}
    {% include 'data/hs_code_trade_val/hs_code_trade_value_441700.html' %}
    {% include 'data/hs_code_trade_val/hs_code_trade_value_440420.html' %}
</div>
</html>
